# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
android/.gradle/
android/app/google-services.json
android/app/src/debug/
android/app/src/profile/
android/app/src/main/keystore/
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/ephemeral/
ios/.generated/
linux/flutter/
windows/flutter/
web/.dart_tool/
web/main.dart.js
web/main.dart.js.map

# FVM Version Cache
.fvm/
.fvmrc

# IDEs & Editors
.idea/
.vscode/
*.iml

# Logs & System files
*.log
*.DS_Store
*.lock
*.pyc
*.swp
*.swo

# Miscellaneous
test/**.tmp
